doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Slide Gallery
        link(rel='stylesheet' href='https://clients.contology.com/Client/__Blank-Templates__/Bootstrap-CSS/domBS4_Master.css')
        link(rel='stylesheet' href='./styles.css')
    body
        div#demo-container
            .container-fluid
                .row 
                    .col-12 
                        #slide-gallery

        script(src="./slide-gallery.dev.js") 